.errors-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.show-card-type {
  margin: auto;
  width: 426px;
  // height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background: #000000;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.show-card-type > .body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
}

.card-text:last-child {
  color: #828282;
}

.image-area {
  position: relative;
  cursor: pointer;

  width: 100%;
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border: 2px dashed white;
  border-radius: 8px;
  background-color: #1E1E1E;
  color: #71717A;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.image-area:hover {
  border-color: #0D6EFD;
}

.image-preview {
  position: absolute;
  width: 80%;
  height: 80%;
  display: none;
  object-fit: contain;
}

.picture-icon {
  display: flex;
  font-size: 64px;
}

.card-footer {
  display: flex;
  gap: 1em;
}

.index-card-type {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 1rem;
  background: #000000;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}
.index-card-type:hover {
  transform: scale(1.01)
}

.index-card-type > .card-icon {
  width: 112px;
  height: 68px;
  object-fit: contain;
}

.index-card-type > .card-type-name {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.emissions {
  display: flex;
  gap: 2rem;
}

.card-type-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#emission-enabled-card-types,
#emission-disabled-card-types { width: 50%; }

.btn-show-card-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  justify-content: center;
}
