.company-card {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  gap: 1rem;
  background-color: #000000;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}
.company-card:hover {
  transform: scale(1.01);
}

.company-card > .company-name {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

.company-card > .company-registration-number {
  color: #828282;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.company-header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-header > h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
