.company-types-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2rem;
  font-weight: bold;
  background-color: #000000;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.company-types-card > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.company-types-card > div.linked {
  justify-content: space-between;
}

.company-types-card > form {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: end;
}

.card-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-section .card-icon {
  height: 68px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info .title {
  font-size: 24px;
}

.company-types-card .unlinked-color {
  color: #fd7e14;
}

.btn-company-card-type {
  width: 226px;
  height: 48px;
}
