.alert-alert { @extend .alert-warning; }
.alert-notice { @extend .alert-primary; }

.flash-authenticated-area {
  position: absolute;
  top: -8px; right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}

.flash-unauthenticated-area {
  margin: auto;
  max-width: 1236px;
  z-index: 999;
}
