.alert-alert { @extend .alert-warning; }
.alert-notice { @extend .alert-primary; }

.flash-authenticated-area {
  margin-inline: 12px;
  position: absolute;
  top: 65px; right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flash-unauthenticated-area {
  margin: auto;
  max-width: 1236px;
}
