.form {
  margin: auto;
  width: 412px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

main form > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

main form input[type="text"],
main form input[type="number"],
main form input[type="email"],
main form input[type="password"],
select {
  height: 48px;
  width: 100%;
  padding-inline: 1rem;
  color: #FFFFFF;
  background-color: #18181B;
  border: none;
  border-radius: 8px;
}

main form input[type="submit"],
button {
  height: 48px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 40rem #18181B inset;
}

.errors {
  display: none;
}

form:has(.field_with_errors) .errors {
  display: block;
}