html,
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  color: white;
  background-color: #333333;
}

.logo-style {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 48px;
}

.title-style {
  margin-bottom: 2rem;
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.subtitle-style {
  margin: 0;
  font-size: 24px;
  color: #BDBDBD;
  font-weight: bold;
}

header nav {
  color: black;
}
