.session-card {
  margin: auto;
  display: flex;
  background-color: black;
  border-radius: 8px;
}

.login-card {
  max-width: 1236px;
  height: 568px;
}

.signup-card {
  padding: 2rem;
  max-width: 618px;
}

.left-container {
  height: 100%;
  width: 50%;
}

.right-container {
  padding: 2rem;
  height: 100%;
  width: 50%;
  display: flex;
}

.card-img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
