.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1rem;
}

@media screen and (max-width: 790px){
    .container-grid{
        grid-template-columns: 1fr;
    }
}