.search-body {
    position: relative;
    width: 462px;
}

.search-btn {
    position: absolute;
    top: 0; right: 0;
    background-color: transparent;
    border: none;
}

.search-icon {
    color: #828282;
    padding: 1rem;
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
    }
}

