.search-body {
    position: relative;
    width: 462px;
}

.search-btn {
    position: absolute;
    top: 0; right: 0;
    background-color: transparent;
    border: none;
}

.search-icon {
    color: white;
    padding: 1rem;
}