.cashback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  
  width: 1236px;
}

.cashback-card {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 64px;
  background: #000000;
  border-radius: 8px;
  transition: all .3s ease-in-out
}
.cashback-card:hover {
  transform: scale(1.01)
}

.cashback-attribute {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // gap: .5rem;
  font-size: 20px;
  font-weight: bold;
}

.attribute-value {
  color: #828282;
}

a {
  text-decoration: none;
}
