.errors-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-type-form, .cashback-rules-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-footer{
    display: flex;
    gap: 1em;
}