<% if @card_type.errors.present? %>
  <h4>Verifique os erros abaixo:</h4>
  <div id='errors-div'>
    <% @card_type.errors.full_messages.each do |message| %>
      <span><%= message %></span>
    <% end %>
  </div>
<% end %>